/* Shaw */

.BannerBox{overflow:hidden;position:relative;background-color:#00c2a0;height:500px}
.IndexBanner{position:relative;left:50%; margin-left:-1000px;}
.BannerButtonBox{ width:80px; height:15px; position:absolute; left:50%; margin-left:-40px; bottom:20px;}
.BannerButton{ float:left; height:12px; width:12px; border-radius:50%; background-color:white; opacity:0.5;cursor:pointer;margin:0 5px;}
.BannerButtonNow{opacity:1;width:26px;border-radius:50px;}
/* ���� */
.SearchBox{position:absolute;left:50%;top:50%;margin-left:-560px;margin-top:-50px;z-index:1;transform: translate(0,0);transition:all .2s ease-in 0s}
.SearchBg{border:10px solid rgba(255,255,255,0.4);}
.SearchShadow{-webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.1);-moz-box-shadow:0px 0px 20px rgba(0,0,0,0.1);box-shadow:0px 0px 20px rgba(0,0,0,0.1);}
.SearchPosition{top:100px;margin-top:-20px;transform: translate(0,0);transition:all .1.6s ease-in 0s}
.SearchBox input{width:400px;line-height:36px;height:40px;background-color:rgba(255,255,255,1);font-size:14px;letter-spacing:1px}
.IndexSearchBtn{background-color:#ffb548;line-height:40px;text-align:center;width:80px;color:white;font-size:16px;cursor:pointer}
.IndexSearchBtn:hover{background-color:#ff8e43;transform: translate(0,0);transition:all .2s ease-in 0s}
.IndexSearchClose{width:30px;margin-top:15px;margin-left:20px;display:none;cursor:pointer}
.IndexSearchClose:hover{opacity:0.7;transform: translate(0,0);transition:all .1s ease-in 0s}
/* ���ű�ǩ */
.SearchTagBox{width:500px;color:white;font-size:14px;cursor:pointer;margin-top:20px;z-index:1;overflow: hidden;}
.SearchTagIcon{width:20px;margin-top:16px}
.SearchTagTitle{font-size:14px;color:white;line-height:26px;font-weight:bold}
.SearchTag{overflow: hidden;width:470px;margin-top:16px;margin-left:10px}
.SearchTag a{display:block;width:46px;text-align:center;font-size:14px; color:white;line-height:20px;border-radius:4px;cursor:pointer;margin-bottom:6px;float:left}
.SearchTag a:hover{color:white;text-decoration:underline}
/* �߼����� �������� */
.SearchTopicBg{border:10px solid rgba(255,255,255,0.4);width:500px;overflow: hidden;color:white;font-size:14px;position:absolute;left:50%;top:50%;margin-left:-560px;margin-top:-90px;z-index:1;display:none}
.SearchTopicBox{overflow: hidden;background-color:rgba(255,255,255,0);padding:20px 20px 12px 20px;}
.SearchTopicTitle{font-size:14px;color:white;line-height:26px;font-weight:bold}
.SearchTopic{overflow: hidden;margin-left:20px;width:390px}
.SearchTopicOne01{display:block;width:70px;text-align:center;font-size:14px; color:#4d4d4d;background-color:#ebebeb;line-height:28px;border-radius:4px;margin-right:8px;cursor:pointer;margin-bottom:8px;float:left;background-color:rgba(255,255,255,0);color:white}
.SearchTopicOne01:hover{background-color:rgba(255,255,255,0.8);color:#4d4d4d;}
.SearchTopicNow{background-color:white;color:#4d4d4d;transform: translate(0,0);transition:all .1s ease-in 0s}

.IndexGreyBg{background-color:#f9f9f9;overflow:hidden;width:100%}
.IndexDataBox{width:182px;margin:20px 109px}
.IndexDataArrow{width:182px}
.IndexDataTitle{font-size:16px;font-weight:bold;text-align:center;color:#666;margin-bottom:10px}
.IndexData{font-size:14px;font-weight:bold;text-align:center;color:#ccc;margin-top:6px}
.IndexData span{font-size:18px;font-weight:bold;text-align:center;color:#00c2a0;}

.IndexTopicBox{margin:10px 50px;width:138px;height:138px;background-color:white;border:1px solid white;border-radius:4px;display:block}
.IndexTopicBox:hover{background-color:#f7fffe;border:1px solid #00c2a0;-webkit-box-shadow:0px 0px 20px rgba(0,166,137,0.15);-moz-box-shadow:0px 0px 20px rgba(0,166,137,0.15);box-shadow:0px 0px 20px rgba(0,166,137,0.15);}
.IndexTopic{display:block}
.IndexTopicImg{width:80px;margin:15px 30px 0 30px;display:block}
.IndexTopicTitle{line-height:20px;text-align:center;display:block}

.IndexNewsBox{margin:50px 20px;overflow:hidden;width:360px}
.IndexNewsTitleBox01{background-image:url(../img/index_news01.png);width:360px;height:100px;}
.IndexNewsTitleBox02{background-image:url(../img/index_news02.png);width:360px;height:100px;}
.IndexNewsTitleBox03{background-image:url(../img/index_news03.png);width:360px;height:100px;}
.IndexNewsTitle{color:white;font-size:22px;font-weight:bold;text-align:center;line-height:36px;padding-top:20px;letter-spacing:4px}
.IndexNewsTitleEn{color:white;font-size:16px;text-align:center;line-height:26px}
.IndexNewsContent{background-color:white;padding:22px 32px;width:100%;height:290px;position:relative;}
.IndexNewsContent a{line-height:36px;width:206px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display:block;float:left}
.IndexNewsContent a:hover{color:#00c2a0;transform: translate(0,0);transition:all .1s ease-in 0s;}
.IndexNewsTime{color:#ccc;font-size:12px;text-align:left;width:76px;display:block;float:left;line-height:36px;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.IndexNewsLine{color:#ccc;font-size:12px;text-align:left;width:12px;display:block;float:left;line-height:36px;}
.IndexNewsMore{width:30px;position:absolute;bottom:20px;right:32px;color:#ccc;cursor:pointer;font-size:12px;text-align:right;display:block;}
.IndexNewsMore:hover{color:#00c2a0;transform: translate(0,0);transition:all .2s ease-in 0s;}
.IndexNewsContent img{width:18px;margin-top:12px;float:left}

.WechatBtn{z-index:1;padding:6px;background-color:#3bacf3;position:fixed;bottom:250px;right:20px;cursor:pointer;}
.WechatBtn img{width:30px}
.WechatBtn:hover{background-color:#35c8db;transform:translate(0,0);transition:all .2s ease-in 0s}
.WechatQRBox{display:none;z-index:1;padding:6px;position:fixed;bottom:180px;right:50px;cursor:pointer;}
.AdviceBtn{z-index:1;padding:6px;background-color:#ffb548;position:fixed;bottom:200px;right:20px;cursor:pointer;height:42px;line-height:30px;width:42px;color:white;font-weight:bold;text-align:center}
.AdviceBtn:hover{text-decoration:underline;background-color:#ff8e43;transform:translate(0,0);transition:all .2s ease-in 0s}
.TopBack{z-index:1;padding:6px;background-color:#e5e5e5;position:fixed;bottom:100px;right:20px;display:none;cursor:pointer;}
.TopBack:hover{background-color:#ccc;transform:translate(0,0);transition:all .2s ease-in 0s}