/* Shaw */

*{font-size:14px}
a:hover{text-decoration:none;cursor:pointer;}
img{display:block}
input{border:none;margin:0;padding:2px 8px}

.FloatLeft{float:left}
.FloatRight{float:right}
.CenterBox{width:1200px;margin:0 auto;overflow:hidden}
.MarginLeft20{margin-left:20px}
.MarginTop20{margin-top:20px}
.ClearBoth{clear:both}
.GreenHover{color:#00c2a0;cursor:pointer}
.GreenHover:hover{color:#35c8db;transform: translate(0,0);transition:all .2s ease-in 0s;}

.WhiteBtn{background-color:white;color:#999;border:1px #999 solid;border-radius:4px;font-size:14px;line-height:28px;width:70px;text-align:center;margin-top:20px}
.WhiteBtn:hover{color:#00c2a0;border:1px #00c2a0 solid;transform: translate(0,0);transition:all .2s ease-in 0s;}
.BlueBtn{background-color:#00c2a0;color:white;border:1px #00c2a0 solid;border-radius:4px;font-size:14px;line-height:28px;width:70px;text-align:center;margin-top:20px}
.BlueBtn:hover{background-color:#35c8db;border:1px #35c8db solid;transform: translate(0,0);transition:all .2s ease-in 0s;}
.CenterBtn{width:90px;display:block;margin:20px auto;letter-spacing:1px}

.NavBox{background-color:white;padding:0 30px;}
.NavLogo{width:280px;margin-top:16px}
.NavCenterBox{margin:0 auto;width:632px;}
.Nav{padding:0 22px;line-height:62px;border-top:4px white solid;border-bottom:4px white solid;border-left:1px white solid;border-right:1px white solid;cursor:pointer;position:relative;z-index:2}
.Nav:hover{border-top:4px #00c2a0 solid;border-left:1px #f5f5f5 solid;border-right:1px #f5f5f5 solid;transform: translate(0,0);transition:all .3s ease-in 0s;}
.NavSub{width:100%; background-color:white;text-align:center;position:absolute; left:0; top:30;display:none}
.NavSubNow{line-height:40px;color:#b3b3b3;display:block}
.NavSubNow a{}
.NavSubNow:hover{width:100%;color:#00c2a0;background-color:#e5f5f2;transform:translate(0,0);transition:all .2s ease-in 0s;}
.NavNow{color:#00c2a0}
.NavArrow{width:12px;margin-top:30px;margin-left:8px}

.LogonBox,.NoLogonBox{width:280px;display:none}
.LogonTitle{font-size:12px;line-height:70px;color:#4d4d4d;}
.LogonTitle:hover{color:#00c2a0;transform: translate(0,0);transition:all .1s ease-in 0s;}
.LogonTitle span{line-height:70px;display:block;float:right;margin-left:6px;color:#00c2a0}
.UserGuideNav{font-size:12px;line-height:70px;color:#ccc;margin-right:4px}
.UserGuideNav:hover{color:#00c2a0;transform: translate(0,0);transition:all .1s ease-in 0s;}
.UserGuideNav img{width:14px;margin-top:28px;margin-right:6px}

.HeaderBanner{overflow: hidden;width: 100%;}
.HeaderBanner img{position: relative;left: 50%;margin-left: -1000px;display: block;}